<section class="section--align-center">
  <h2 class="section__title">Selecione a categoria:</h2>
  <!-- <sw-button [routerLink]="['/starwars/people']">👥 People</sw-button>
  <sw-button [routerLink]="['/starwars/starships']">🛸 Starships</sw-button>
  <sw-button [routerLink]="['/starwars/vehicles']">🚀 Vehicles</sw-button>
  <sw-button [routerLink]="['/starwars/species']">👽 Species</sw-button> -->
  <sw-button [routerLink]="['/starwars/planets']">🌎 Jogo dos Planetas</sw-button>
  <sw-button [routerLink]="['/starwars/consulta']">🚀 Consulta</sw-button>
  <sw-button [routerLink]="['/starwars']">🡠 Voltar</sw-button>
</section>

<sw-footer></sw-footer>
